body {
	background-color:#3199da;
}

/**.custom-box {
	border: 2px solid grey;
	height:35vmax;
	border-right: 0px ;
	border-left: 0px ;
	border-bottom: 0px ;
	border-top-width: 10px;
	background-color:grey;
}**/